/*.suo
/Vusen.Language.Tests/bin/Debug
/Vusen.Language.Tests/obj/Debug
/Vusen.Language/bin/Debug
/Vusen.Language/obj/Debug
/*.user
/Vusen.Language.Tests/obj/Release
/packages/Moq.4.2.1502.0911
*.suo
Debug
